*{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.alignment{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* color:white; */
    font-size: 40px;
}

body{
    background-color: darkblue;
}

.collecteddata{
    display: flex;
    flex-direction: row;
    gap: 700px;
    justify-content: space-evenly;
    
    /* color:white */
}

.generaldata{
    padding-left: 25px;
    padding-top: 50px;
    font-size: 30px;
    width: 30%

}

hr{
    margin-bottom:30px;
}

h2{
    font-size: 30px;
}